
<script nonce="{{nonce}}">
    document.addEventListener('DOMContentLoaded', function () {

        async function fetchDate() {
            try {
                const response = await fetch(
                    `/plugin/customTabController/example`,
                    {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            Accept: 'application/json'
                        }
                    }
                );
                const result = await response.text();

                if (response.ok) {
                    console.log('Date fetched successfully');
                } else {
                    console.log('Date fetch gone wrong') //: ' + result);
                }
            } catch (error) {
                console.error('Error updating dates:', error);
            }
        }

        const testCallBtn = document.getElementById('testCallBtn');
        testCallBtn.addEventListener('click', function () {
            fetchDate();
        });
    });
</script>
<div>
    <button id="testCallBtn">Test Call</button>
</div>

