
<script nonce="{{nonce}}">
    document.addEventListener('DOMContentLoaded', function () {

        async function fetchMessage() {
            try {
                const response = await fetch(
                    `/plugin/customTabController/example`,
                    {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            Accept: 'application/json'
                        }
                    }
                );
                const result = await response.text();

                if (response.ok) {
                    console.log('Message fetched successfully: ' + result);
                    document.getElementById('messageField').innerHTML = result
                } else {
                    console.log('Message fetch gone wrong') //: ' + result);
                    document.getElementById('messageField').innerHTML = "Error fetching message"
                }
            } catch (error) {
                console.error('Error updating dates:', error);
                document.getElementById('messageField').innerHTML = "Error fetching message: " + error
            }
        }

        const testCallBtn = document.getElementById('testCallBtn');
        testCallBtn.addEventListener('click', function () {
            fetchMessage();
        });
    });
</script>
<div>
    <button id="testCallBtn">Test Call</button>
    <div id="messageField"></div>
</div>

